<html>

<head>
  <title>404</title>
  <link rel="icon" href="../img/index.png">
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>{{ErrorMessage}}</p>
  </div>
  {{>footer}}
</body>

</html>